<div id="title">
    <!--<img class="flag" src="images/flag.png" alt="American Flag">
    <h1 class="title">Congressional Map</h1>
    <img class="flag" src="images/flag.png" alt="American Flag">-->
    <div id="left_side_title">
        <img class="flag" src="images/flag.png" alt="American Flag"> 
    </div>
    <div id ="center_title">
        <h1 class="title">Congressional District Map</h1>
    </div>
    <div id="right_side_title">
        <a class="footer-link" href="main.php">Home</a> 
        <a class="footer-link" href="about.php">About</a> 
        <a class="footer-link" href="sources.php">Sources</a> 
    </div>
</div>
